.env
node_modules
package-lock.json
C:\Users\MOAND\OneDrive\Documents\Javascript\visual-dico\backend\logs\errLog.log
C:\Users\MOAND\OneDrive\Documents\Javascript\visual-dico\backend\logs\reqLog.log
# Logs